.users{
    margin-bottom: 140px;
}

.users-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.users-inner-wrapper{
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    @media (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }
}