$bg-yellow: #f4e041;
$bg-yellow-hover: #ffe302;
$bg-blue: #00bdd3;
$bg-light-gray: #f8f8f8;
$bg-button-disabled: #b4b4b4;
$bg-white: #fff;
$main-color: #000000de;
$main-bg: #e5e5e5;
$placeholder: #7e7e7e;
$error: #cb3d40;
