$bg-yellow: #F4E041;
$bg-yellow-hover: #FFE302;
$bg-blue: #00BDD3;
$bg-light-gray: #F8F8F8;
$bg-button-disabled: #B4B4B4;
$bg-white: #fff;
$main-color: #000000DE;
$main-bg: #E5E5E5;
$placeholder: #7E7E7E;
$error: #CB3D40;
